<section data-backdrop="static" data-keyboard="false"
  ng-controller="AmenityCreateController as vm">
<div class="modal-header">
  <h3 class="modal-title"><strong>Create:</strong> </h3>
</div>
<div class="modal-body">
  <form  name="form" class="form-validation" novalidate>
    <div class="form-group" ng-class="{ 'has-success': form.amenityName.$valid && submitted,
                                            'has-error': form.amenityName.$invalid && submitted }">
      <label>Name <em class="text-muted">Lunch for 1</em></label>
      <input type="text" name="amenityName" class="form-control" ng-model="amenity.name" maxlength="50" ng-pattern="/^[ñA-Za-z _\-]*[ñA-Za-z\-][ñA-Za-z _\-]*$/" required >
      <p class="help-block" ng-show="form.amenityName.$error.required && submitted">
        Name is required.
      </p>
    </div>
    <div class="form-group">
      <label>Price <em class="text-muted">maximum is 3</em></label>
      <input type="number" class="form-control" ng-model="amenity.price" max="3" ng-pattern="/^[0-9]+$/"  required >
    </div>
    <div class="form-group">
      <label>Description </label>
      <textarea class="form-control" rows="6" placeholder="Type the description here" ng-model="amenity.description" required></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success"  ng-click="vm.addAmenity(amenity,ok())">Save and Close</button>
</div>
</section>
