<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >Navigation</span>
  </li>
   <li>
  <li ui-sref-active="active">
    <a ui-sref="manage.guests">
      <i class="fa fa-users text-success"></i>
      <span>Guests</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="manage.rooms">
      <i class="fa fa-star text-success"></i>
      <span>Rooms</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="manage.amenities">
      <i class="fa fa-glass text-success"></i>
      <span>Amenities</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="manage.accommodations">
      <i class="fa fa-space-shuttle text-success"></i>
      <span>Accommodations</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="manage.reservations">
      <i class="fa fa-calendar text-success"></i>
      <span>Reservations</span>
    </a>
  </li>




  <li class="line dk"></li>

  <li ui-sref-active="active">
    <a ui-sref="app.chart">
      <i class="glyphicon glyphicon-signal"></i>
      <span>Chart</span>
    </a>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >Your Stuff</span>
  </li>
  <li>
    <a ui-sref="app.page.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success pull-right">30%</b>
      <span>Profile</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.docs">
      <i class="icon-question icon"></i>
      <span>Documents</span>
    </a>
  </li>
</ul>
<!-- / list -->
